<%- include('fragmente/header') %>

<main>
    <div id="eroare-pagina">
        <h2><%= titlu %></h2>
        <p><%= text %></p>
        <img src="<%= imagine %>" alt="Eroare <%= titlu %>" style="max-width: 500px; margin-top: 20px;">
    </div>
</main>

<%- include('fragmente/footer') %>