<%- include('fragmente/header') %>

<main class="container mt-5 pt-4">
    <div class="produs-detaliu-container">
        <div class="row">
            <div class="col-lg-6">
                <img src="/resurse/imagini/produse/<%= produs.imagine %>" alt="<%= produs.nume %>" class="img-fluid rounded shadow-lg">
            </div>
            <div class="col-lg-6">
                <h1><%= produs.nume %></h1>
                <p class="lead text-body-secondary"><%= produs.descriere %></p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Producător:</strong>
                        <span><%= produs.producator %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Categorie:</strong>
                        <span class="text-capitalize"><%= produs.categorie.replace('_', ' ') %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Disponibilitate:</strong>
                        <% if(produs.in_stoc){ %>
                            <span class="text-success fw-bold">În Stoc</span>
                        <% } else { %>
                            <span class="text-danger fw-bold">Stoc Epuizat</span>
                        <% } %>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Preț:</strong>
                        <span class="badge text-bg-danger fs-4"><%= produs.pret %> €</span>
                    </li>
                </ul>
            </div>
        </div>

        <% if(seturi.length > 0) { %>
            <hr class="my-5">
            <div class="seturi-asociate">
                <h2>Face parte din următoarele seturi:</h2>
                <div class="row">
                    <% seturi.forEach(function(set) { %>
                        <div class="col-md-6 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title"><%= set.nume_set %></h5>
                                    <p class="card-text text-body-secondary">Preț redus în set: <%= set.pret_final.toFixed(2) %> €</p>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        <% } %>
    </div>
</main>

<%- include('fragmente/footer') %>